<div class="page-header">
  <h1>Unit Of Measure #<%= @unit_of_measure.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Unit of measure</dt>
  <dd><%= @unit_of_measure.unit_of_measure %></dd>

</dl>
