<div class="page-header">
  <h1>Activity Category #<%= @activity_category.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Activity category</dt>
  <dd><%= @activity_category.activity_category %></dd>

</dl>
